*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
}



.nav-list{
      display: flex;
      gap: 20px;
      padding-right: 20px;
}

.navbar{
      display: flex;
      justify-content: space-between;
      background-color: lime;
      height: 70px;
      align-items: center;
}
.bars{
      display: none;
      flex-direction: column;
      gap: 7px;
      padding-right: 20px;
}

.bars span{
      width: 40px;
      height: 5px;
      background-color: red;
}


.ResNav{
      position: fixed;
      top: 0;
      left: 0;
      width: 60%;
      height: 100vh;
      background-color: lime;
      padding: 40px;
      transform: translateX(-110%);
      transition: transform 0.3s linear;
}

.ResNav.active{
      transform: translateX(0%);
      transition: transform 0.3s linear;
}

.Res-nav-list{
      display: flex;
      flex-direction: column;
      gap: 40px;
}

.Res-nav-list li a{
      color: #fff;
      font-size: 22px;
}














@media (max-width:680px){
      .bars{
            display: flex;
      }
      .nav-list{
            display: none;
      }
}